body {
  background-color: #fdf6e3;
}

.main {
  background-color: #fdf6e3;
  width: 50%;
  margin: auto;
  margin-top: 60px;
}

h1 {
  color: #93a1a1;
  text-align: center;
  font-family: Raleway;
}

.subtitle {
  text-align: center;
  font-family: Raleway;
}

h2 {
  color: #93a1a1;
  text-align: left;
  font-family: Raleway;
}

h3 {
  color: #93a1a1;
  text-align: left;
  font-family: Raleway;
}

p {
  color: #657b83;
  text-align: left;
  font-family: Consolas, monaco, monospace; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px;
}

li {
  color: #657b83;
  text-align: left;
  font-family: Consolas, monaco, monospace; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px;
}

.navbar {
  overflow: hidden;
  background-color: #eee8d5;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #586e75;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #eee8d5;
}
