body {
  background-color: #fdf6e3;
  width: 50%;
  margin: auto;
}

h1 {
  color: #93a1a1;
  text-align: center;
}

.subtitle {
  text-align: center;
}

h2 {
  color: #93a1a1;
  text-align: left;
}

p {
  color: #657b83;
  text-align: left;
}

li {
  color: #657b83;
  text-align: left;
}
