body {
  background-color: #fdf6e3;
  width: 50%;
  margin: auto;
}

h1 {
  color: #93a1a1;
  text-align: center;
  font-family: Raleway;
}

.subtitle {
  text-align: center;
  font-family: Raleway;
}

h2 {
  color: #93a1a1;
  text-align: left;
  font-family: Raleway;
}

p {
  color: #657b83;
  text-align: left;
  font-family: Consolas, monaco, monospace; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px;
}

li {
  color: #657b83;
  text-align: left;
  font-family: Consolas, monaco, monospace; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px;
}
