body {
  background-color: #fdf6e3;
}

.main {
  background-color: #fdf6e3;
  width: 50%;
  margin: auto;
  margin-top: 60px;
}

h1 {
  color: #2aa198;
  text-align: center;
  font-family: Raleway;
}

.subtitle {
  text-align: center;
  font-family: Raleway;
}

h2 {
  color: #93a1a1;
  text-align: left;
  font-family: Raleway;
}

h3 {
  color: #93a1a1;
  text-align: left;
  font-family: Raleway;
}

p {
  color: #657b83;
  text-align: left;
  font-family: Consolas, monaco, monospace; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px;
}

ol li {
  color: #657b83;
  text-align: left;
  font-family: Consolas, monaco, monospace; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 20px;
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #eee8d5;
  padding: 12px;
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  color: #657b83;
  text-align: left;
  font-family: Consolas, monaco, monospace; 
  font-size: 14px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
}
  
.navbar {
  overflow: hidden;
  background-color: #eee8d5;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #586e75;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #eee8d5;
}

.blue {
  color: #268bd2;
}

.violet {
  color: #6c71c4;
}

.row {
  display: flex;
}

.left {
  flex: 25%;
  padding: 5px;
}

.right {
  flex: 75%;
}
